<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="SQLServerTest" connectionString="Data Source=10.240.151.139;Initial Catalog=EvalDesQa;User ID=pentagono;Password=4sp3n2015"/>
    <add name="SQLServerProd" connectionString="Data Source=10.240.180.13;Initial Catalog=EvalDesProd;User ID=EvalDes;Password=Evaluacion2520"/>
    <add name="SQLServerAzazelLocal" connectionString="Data Source=AMEXD5CG5074JG7\SQLEXPRESS;Initial Catalog=EvaluacionDes;User ID=Admin;Password=admin"/>
  </connectionStrings>
  <appSettings>   
    <add key="DefaultConexionBaseDatos" value="SQLServerTest"/>
  </appSettings>
</configuration>
